.col-six {
  width: 50%;
  display: inline-block;
}
button {
  border-radius: 0;
}
.data {
  width: 100%;
  height: auto;
  border: 1px sold red;
  border-bottom:1px solid #9FF;
}
.demo {
  width: 100%;
}
.header {
  width: 100%;
  height: auto;
}
.header h1 {
  font-family:"Times New Roman", Times, serif;
  font-size: 35px;
  // font-family:
 }
.date-time {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #39F;
  font-style: italic;
  text-align: right;
}

.new p {
  font-size: 15px;
}
div ul li p.content {
  text-align: justify;
}

ul {
  list-style-type: decimal-leading-zero;
}
