button {
  border-radius: 0;
}
.clear-fix {
  margin: 50px;
}
.contents {
  .content {
    text-align: justify;
    word-wrap: break-word;
    border-bottom: 2px solid #ddd;
    .date-time {
      width: 100%;
      height: auto;
      display: inline-block;
      text-align: right;
      font-style: italic;
      font-weight: bold;
    }
  }
}
.feedback-form {
  margin: 15px;
}
